* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ddd;
}
body {
  min-height: 100vh;
  width: 100%;
  background: #000;
}

.mainBlock {
  position: relative;
  min-height: 100%;
  width: 100%;
}

/*----------------------- Nav Bar --------------------------*/
.navBar {
  position: fixed;
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #111;
}
/* Button header and networks */
.navBarButton {
  padding: 0.4rem;
  border-radius: 1rem;
  margin: 0.5rem 0.5rem;
  color: #ccc;
}
.navBarButton:hover {
  background: #333;
  box-shadow: 0 0 0.2rem #aaa;
  cursor: pointer;
  color: #ddd;
}
.navBarButton:active {
  background: #a33;
  box-shadow: 0 0 0.5rem #faa;
  color: #fff;
}

/*---------- Nav Bar Header ----------*/
.navBar__header {
  display: flex;
}
.navBar__header h2 {
  margin: 0.7rem 0;
  font-size: 1rem;
}

/*---------- Nav Bar Top Menu ----------*/
.navBar__topMenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navBar__topMenu > ul {
  display: flex;
}
/* Tabs */
.tabs {
  min-width: 6rem;
  padding: 0.8rem 0.5rem;
  text-align: center;
}
.tabs:hover {
  background: #333;
  cursor: pointer;
}
.tabs:active {
  background: #a33;
  text-shadow: 0 0 0.3rem #ccc;
  font-weight: bold;
}

/*---------- Nav Bar Side Menu ----------*/
.menuTranslate {
  transform: translateX(-20rem);
}
.navBar__sideMenu {
  position: fixed;
  left: 0;
  height: 100vh;
  width: 20rem;
  background: #111;
  transition: 0.5s;
  z-index: 2;
  /* overflow-y: scroll; */
}
.navBar__sideMenu .navBar__header {
  position: fixed;
  width: 18.9rem;
  background: #111;
}
.navBar__sideMenu ul {
  margin-top: 4rem;
}
